### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [100]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(file_to_load)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [101]:
Player_info_df=data_file_df.loc[:,['SN','Age','Gender']]
#data_file_df=data_file_df. drop_duplicates(loc
Player_info_df=Player_info_df.drop_duplicates()
Player_count=Player_info_df['SN'].count()
Player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [102]:
# * Number of Unique Items
unique_item=data_file_df['Item ID'].nunique()
# * Average Purchase Price
average_purchase_price=data_file_df["Price"].mean()
# * Total Number of Purchases
unique_purchase_ID=data_file_df['Purchase ID'].nunique()
# * Total Revenuedf.describe()
total_revenue=data_file_df['Price'].sum()

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [103]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

## Gender_count=Player_info_df['Gender'].value_counts()
## Gender_count_percent=Gender_count/Player_count *100
## Gender_countdf=pd.DataFrame({"total count": Gender_count, "Percentage_of_players": Gender_count_percent})
## Gender_countdf=Gender_countdf.round(2)
# Gender_countdf.head()

## male_count=df.loc[df["Gender"]=="Male", :].value_counts()
##percent_male data_file_df=data_file_df((Male_count/Gender_count)*100)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [104]:
# The below each broken by gender:
Gender_count=data_file_df.groupby(['Gender']).count()['Price'].rename("Purchase Count")
Gender_count.head()

average_purchase_per_gender=data_file_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")

Purchase_count=data_file_df['Item ID'].unique()
Purchase_count_df=data_file_df.loc[:,['Gender','Purchase ID','Price']]
Purchase_count_df.head()

# # Total Purchase Value
Purchase_value=data_file_df.groupby(['Gender']).sum()["Price"].rename("Total Purchase Price")
# print(Purchase_value)

# * Average Purchase Price
Purchase_price=data_file_df.groupby(['Gender']).mean()
# Purchase_price.head()

# Purchase Count
Purchase_count=Purchase_count_df['Purchase ID'].value_counts()

# # Average Purchase Total per Person by 
Purchase_count_df=pd.DataFrame({"Total Count": Gender_count, "Average Purchase Price": average_purchase_per_gender, "Total Purchase Price": Purchase_value})
# Purchase_count_df.head()

#Formatting
summary_df=pd.DataFrame({"Total Count": Gender_count, "Average Purchase Price":  average_purchase_per_gender, "Total Purchase Price": Purchase_value})
summary_df["Average Purchase Price"]=summary_df["Average Purchase Price"].map("${:,.2f}".format)
summary_df["Total Purchase Price"]=summary_df["Total Purchase Price"].map("${:,.2f}".format)
summary_df.head()

                       Total Count Average Purchase Price Total Purchase Price
Gender
Female                         113                  $3.20              $361.94
Male                           652                  $3.02            $1,967.64
Other / Non-Disclosed           15                  $3.35               $50.19

In [138]:
## Age Demographics
# data_file_df=pd.read_csv
Player_info_df=data_file_df.loc[:,['Price','Age','Gender']]
##Player_info_df=Player_info_df.drop_duplicates()

# The below each broken into bins of 4 years (i.e. &lt;10, 10-14, 15-19, etc.)
bins=[0,11.9,16.9,21.9,26.9,31.9,36.9,41.9,99]
group_names=["<11","12-16","17-21","22-26","27-31","32-36","37-41","42+"]

# Player_info_df=df.groupby("Age_range")
Player_info_df["age_range"]=pd.cut(Player_info_df["Age"],bins,labels=group_names)
Player_info_df

#   * Purchase Count
Player_age_count=Player_info_df['age_range'].value_counts()

#   * Average Purchase Price
# Purchase_price=data_file_df.groupby(['Age']).mean()
# Purchase_price

#   * Total Purchase Value
Purchase_value=Player_info_df.groupby(['age_range']).sum()["Price"].rename("Total Purchase Value")
# print(Purchase_value)

#   * Average Purchase Total per Person by Age Group
Average_Purchase_value=Player_info_df.groupby(['age_range']).mean()["Price"].rename("Average Purchase Total pp")

Age_Purchase_Count=Player_info_df.groupby(['age_range']).count()["Price"].rename("Count pp")

Avg_Purchase_PP=Purchase_value/Player_age_count

#Formatting
age_summary_df=pd.DataFrame({"Purchase Count": Age_Purchase_Count, "Avg Purchase Price":  Average_Purchase_value, "Avg Total pp": Avg_Purchase_PP, "TTL Purchase Value": Purchase_value})

age_summary_df["Avg Purchase Price"]=age_summary_df["Avg Purchase Price"].map("${:,.2f}".format)

age_summary_df["TTL Purchase Value"]=age_summary_df["TTL Purchase Value"].map("${:,.2f}".format)

age_summary_df["Avg Total pp"]=age_summary_df["Avg Total pp"].map("${:,.2f}".format)
age_summary_df

       Purchase Count Avg Purchase Price Avg Total pp TTL Purchase Value
<11                39              $3.28        $3.28            $127.75
12-16              77              $2.97        $2.97            $228.37
17-21             232              $3.07        $3.07            $711.74
22-26             277              $3.04        $3.04            $841.09
27-31              70              $2.93        $2.93            $205.28
32-36              50              $2.89        $2.89            $144.32
37-41              30              $3.54        $3.54            $106.23
42+                 5              $3.00        $3.00             $14.99

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [173]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
data_file_df
#data_file_df.drop_duplicates()

# SN
Spenders_df=data_file_df.loc[:,['Price','SN']]

# Purchase Count
Spenders_Count=Spenders_df.groupby(["SN"]).count()["Price"]

# Average Purchase Price
Spenders_Average=Spenders_df.groupby(["SN"]).mean()["Price"]
Spenders_Average

# Total Purchase Value
Spenders_Total=Spenders_df.groupby(["SN"]).sum()["Price"]

# Top_spenders=Top_spenders_df
Top_5=Spenders_Count.to_frame()
Top_5.columns=["Purchase_count"]
Top_5["Avg Purchase Price"]=Spenders_Average
Top_5["TTL Purchase Value"]=Spenders_Total
Top_5=Top_5.sort_values('TTL Purchase Value',ascending=False)

#Formatting:  
Top_5_df=pd.DataFrame({"Purchase Count": Age_Purchase_Count, "Avg Purchase Price":  Average_Purchase_value, "Avg Total pp": Avg_Purchase_PP, "TTL Purchase Value": Purchase_value})

Top_5_df["Avg Purchase Price"]=Top_5_df["Avg Purchase Price"].map("${:,.2f}".format)

Top_5_df["TTL Purchase Value"]=Top_5_df["TTL Purchase Value"].map("${:,.2f}".format)

Top_5_df["Avg Total pp"]=Top_5_df["Avg Total pp"].map("${:,.2f}".format)

Top_5_df.head(5)

       Purchase Count Avg Purchase Price Avg Total pp TTL Purchase Value
<11                39              $3.28        $3.28            $127.75
12-16              77              $2.97        $2.97            $228.37
17-21             232              $3.07        $3.07            $711.74
22-26             277              $3.04        $3.04            $841.09
27-31              70              $2.93        $2.93            $205.28

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [172]:
# Identify the 5 most popular items by purchase count, then list (in a table):
data_file_df
##data_file_df.drop_duplicates()

# SN
Popular_items_df=data_file_df.loc[:,['Item ID', 'Item Name', 'Price']]

# Purchase Count
Popular_count=Popular_items_df.groupby("Item ID").count()["Price"]

# Average Purchase Price
Popular_Average=Popular_items_df.groupby("Item ID").mean()["Price"]
Popular_Average

# Total Purchase Value
Popular_Total=Popular_items_df.groupby("Item ID").sum()["Price"]

# Item Name
Popular_Item_Name=Popular_items_df.groupby("Item Name").head()["Price"]

# Most_popular=Most_popular_df
Most_popular=Popular_items_count.to_frame()
Most_popular.columns=["Purchase_count"]
Most_popular["Avg Purchase Price"]=Popular_Average
Most_popular["TTL Purchase Value"]=Popular_Total
Most_popular=Most_popular.sort_values('TTL Purchase Value',ascending=False)

#Formatting:  
Most_popular_df=pd.DataFrame({"Purchase Count": Age_Purchase_Count, "Avg Purchase Price":  Average_Purchase_value, "Avg Total pp": Avg_Purchase_PP, "TTL Purchase Value": Purchase_value})

# Item Price
Most_popular_df["Avg Purchase Price"]=Most_popular_df["Avg Purchase Price"].map("${:,.2f}".format)

# Total Purchase Value
Most_popular_df["TTL Purchase Value"]=Most_popular_df["TTL Purchase Value"].map("${:,.2f}".format)

Most_popular_df["Avg Total pp"]=Most_popular_df["Avg Total pp"].map("${:,.2f}".format)

Most_popular_df["Item Name"]=Most_popular_df["Item Name"].map

KeyError: 'Item Name'

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [108]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value