### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [246]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(file_to_load)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [247]:
Player_info_df=data_file_df.loc[:,['SN','Age','Gender']]
#data_file_df=data_file_df. drop_duplicates(loc
Player_info_df=Player_info_df.drop_duplicates()
Player_count=Player_info_df['SN'].count()
Player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [248]:
# * Number of Unique Items
unique_item=df['Item ID'].nunique()
# * Average Purchase Price
average_purchase_price=df["Price"].mean()
# * Total Number of Purchases
unique_purchase_ID=df['Purchase ID'].nunique()
# * Total Revenuedf.describe()
total_revenue=df['Price'].sum()

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [249]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

## Gender_count=Player_info_df['Gender'].value_counts()
## Gender_count_percent=Gender_count/Player_count *100
## Gender_countdf=pd.DataFrame({"total count": Gender_count, "Percentage_of_players": Gender_count_percent})
## Gender_countdf=Gender_countdf.round(2)
Gender_countdf.head()

## male_count=df.loc[df["Gender"]=="Male", :].value_counts()
##percent_male data_file_df=data_file_df((Male_count/Gender_count)*100)

                       total count  Percentage_of_players
Male                           484                  84.03
Female                          81                  14.06
Other / Non-Disclosed           11                   1.91

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [276]:
# The below each broken by gender:
Purchase_count=data_file_df.groupby(['Gender']).count()
Purchase_count.head()

# Purchase_count_df="0"
# Purchase_count=df['Item ID'].unique()
# Purchase_count_df=data_file_df.loc[:,['Gender','Purchase ID','Price']]
# Purchase_count_df.head()

# Purchase_price_df="0"
# Purchase_price=df['Price'].unique()
# Purchase_price_df=data_file_df.loc[:,['Gender','Purchase ID','Price']]
# Purchase_count_df.head()
# Player_info_df=data_file_df.loc[:,['SN','Age','Gender']]
# Purchase_price_df=data_file_df.drop_duplicates()

# * Average Purchase Price
Purchase_price=data_file_df.groupby(['Gender']).mean()
Purchase_price.head()

#average_purchase_price=df["Price"].mean()
# * Total Number of Purchases
# unique_purchase_ID=df['Purchase ID'].nunique()
# * Total Revenuedf.describe()
# total_revenue=df['Price'].sum()

# Purchase Count
# Purchase_count=Purchase_count_df['Purchase ID'].value_counts()
# Purchase_count=Purchase_count_df['Price'].value_counts()
# Purchase_countdf=pd.DataFrame({"total count": Gender_count, "Purchase ID": Purchase_count, "Price": Purchase_price})
# Purchase_count_df.head()

# unique_purchase_ID=df['Purchase ID'].nunique()
# # Average Purchase Price
# average_purchase_price=df["Price"].mean()

# # Total Purchase Value
# total_revenue=df['Price'].sum()
Purchase_value=data_file_df.groupby(['Gender']).sum()
Purchase_value.head()

# # Average Purchase Total per Person by 
# unique_purchase_ID=df['Purchase ID'].nunique()
# average_purchase_total_player=total_revenue_df["Price"].mean()
avg_purchase_total = Purchase_value['Price']/Purchase_count['Price']
# price_col = Purchase_value.reset_index()['Price']
# pd.DataFrame({"Gender": Gendercolumn})

Purchase_count.reset_index()
Gendercolumn=Purchase_count.reset_index()['Gender']
purchase_id_count=Purchase_count.reset_index()['Purchase ID']
pd.DataFrame({"Gender": Gendercolumn, "Purchase ID": purchase_id_count})

                  Gender  Purchase ID
0                 Female          113
1                   Male          652
2  Other / Non-Disclosed           15

In [ ]:
## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value