### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [10]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources\purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
data_file_df = pd.read_csv(file_to_load)
data_file_df.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

## Player Count

* Display the total number of players

In [11]:
Player_info_df=data_file_df.loc[:,['SN','Age','Gender']]
#data_file_df=data_file_df. drop_duplicates(loc
Player_info_df=Player_info_df.drop_duplicates()
Player_count=Player_info_df['SN'].count()
Player_count

576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [12]:
# * Number of Unique Items
unique_item=data_file_df['Item ID'].nunique()
# * Average Purchase Price
average_purchase_price=data_file_df["Price"].mean()
# * Total Number of Purchases
unique_purchase_ID=data_file_df['Purchase ID'].nunique()
# * Total Revenuedf.describe()
total_revenue=data_file_df['Price'].sum()

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [31]:
# Percentage and Count of Male Players
# Percentage and Count of Female Players
# Percentage and Count of Other / Non-Disclosed

## Gender_count=Player_info_df['Gender'].value_counts()
## Gender_count_percent=Gender_count/Player_count *100
## Gender_countdf=pd.DataFrame({"total count": Gender_count, "Percentage_of_players": Gender_count_percent})
## Gender_countdf=Gender_countdf.round(2)
# Gender_countdf.head()

## male_count=df.loc[df["Gender"]=="Male", :].value_counts()
##percent_male data_file_df=data_file_df((Male_count/Gender_count)*100)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [30]:
# The below each broken by gender:
Gender_count=data_file_df.groupby(['Gender']).count()['Price'].rename("Purchase Count")
Gender_count.head()

average_purchase_per_gender=data_file_df.groupby(["Gender"]).mean()["Price"].rename("Average Purchase Price")

Purchase_count=data_file_df['Item ID'].unique()
Purchase_count_df=data_file_df.loc[:,['Gender','Purchase ID','Price']]
Purchase_count_df.head()

# # Total Purchase Value
Purchase_value=data_file_df.groupby(['Gender']).sum()["Price"].rename("Total Purchase Price")
print(Purchase_value)

# * Average Purchase Price
Purchase_price=data_file_df.groupby(['Gender']).mean()
Purchase_price.head()

# Purchase Count
Purchase_count=Purchase_count_df['Purchase ID'].value_counts()

# # Average Purchase Total per Person by 
Purchase_count_df=pd.DataFrame({"total count": Gender_count, "Average Purchase Price": average_purchase_per_gender, "Total Purchase Price": Purchase_value})
Purchase_count_df.head()

#Formatting
.map
Average_per_person=Purchase_value

Gender
Female                    361.94
Male                     1967.64
Other / Non-Disclosed      50.19
Name: Total Purchase Price, dtype: float64

In [ ]:
## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [ ]:
# The below each broken into bins of 4 years (i.e. <10, 10-14, 15-19, etc.)
# Purchase Count
# Average Purchase Price
# Total Purchase Value
# Average Purchase Total per Person by Age Group

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Identify the the top 5 spenders in the game by total purchase value, then list (in a table):
# SN
# Purchase Count
# Average Purchase Price
# Total Purchase Value

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, average item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [ ]:
# Identify the 5 most popular items by purchase count, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [ ]:
# Identify the 5 most profitable items by total purchase value, then list (in a table):
# Item ID
# Item Name
# Purchase Count
# Item Price
# Total Purchase Value